body{
            background-image: url(bgimage1.jpe);
            
            
        }
        
       .registerForm
        {
            border-radius: 10px;
            width: 400px;
            background-color:white;
            opacity: 0.7;
            
            
        }
        #logocard{
            
            width: 5%;
        }
        
        #cardName{
            
            font-size: 12px;
        }
        
        
        .entry
        {
            
            margin-left: 30px;
        }
        
        .textDisplay{
            
            color: aquamarine;
            font-weight: bold;
        }
        
        #address{
            
            margin-left: 110px;
            
        }
        
        #submit{
            
            
           margin-left: 150px;
        }
    
        #buy
        {
            background-color: black;
            color: white;
            width: 52px;
            border-radius: 10px;
            
        }
    